<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heiha.example.mapper.SampleMapper">
    <resultMap id="sampleMap" type="com.heiha.example.po.Sample">
        <result column="id" property="id"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
    </resultMap>

    <!-- When LIKE, use $ no # -->
    <sql id="deleteCondition">
        <if test="id != null and id != ''">
            AND id = #{id}
        </if>
        <if test="createUserId != null and  createUserId != ''">
            AND create_user_id LIKE '%${createUserId}%'
        </if>
        <if test="updateUserId != null and  updateUserId != ''">
            AND update_user_id RLIKE '^User_${updateUserId}$'
        </if>
        <if test="version != null and  version != ''">
            AND version = #{version}
        </if>
    </sql>

    <insert id="insertSample" parameterType="com.heiha.example.dto.SampleInsertDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_sample (
        create_user_id, create_time, version
        ) VALUES (
        #{createUserId}, now(), #{version}
        )
    </insert>

    <!-- When parameterType is List,
        parameterType set or not or set irrelevant is no use.
        see insertSampleList 1 to 5 -->
    <insert id="insertSampleList" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_sample (
        create_user_id, create_time, version
        ) VALUES
        <foreach collection="list" item="info" separator=", " >
            (
            #{info.createUserId}, now(), #{info.version}
            )
        </foreach>
    </insert>

    <insert id="insertSampleList2"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_sample (
        create_user_id, create_time, version
        ) VALUES
        <foreach collection="list" item="info" separator=", " >
            (
            #{info.createUserId}, now(), #{info.version}
            )
        </foreach>
    </insert>

    <insert id="insertSampleList3" parameterType="com.heiha.example.dto.SampleInsertDTO"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_sample (
        create_user_id, create_time, version
        ) VALUES
        <foreach collection="list" item="info" separator=", " >
            (
            #{info.createUserId}, now(), #{info.version}
            )
        </foreach>
    </insert>

    <insert id="insertSampleList4" parameterType="com.heiha.example.dto.SampleInsertDTO">
        INSERT INTO tb_sample (
        create_user_id, create_time, version
        ) VALUES
        <foreach collection="list" item="info" separator=", " >
            (
            #{info.createUserId}, now(), #{info.version}
            )
        </foreach>
    </insert>

    <insert id="insertSampleList5" parameterType="java.lang.String"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_sample (
        create_user_id, create_time, version
        ) VALUES
        <foreach collection="list" item="info" separator=", " >
            (
            #{info.createUserId}, now(), #{info.version}
            )
        </foreach>
    </insert>

    <delete id="deleteSample" parameterType="com.heiha.example.dto.SampleDeleteDTO">
        DELETE FROM tb_sample
        <where>
            <include refid="deleteCondition" />
        </where>
    </delete>

    <!--<update id="updateSample" parameterType="com.heiha.example.dto.SampleUpdateDTO">-->
        <!--UPDATE tb_sample SET version = #{version} WHERE id = #{id}-->
    <!--</update>-->

    <!--<select id="getSampleById" parameterType="java.lang.Long" resultMap="sampleMap">-->
        <!--SELECT id, create_user_id, create_time, update_user_id, update_time, version-->
        <!--FROM tb_sample WHERE id = #{id}-->
    <!--</select>-->

    <!--<select id="listSample" parameterType="java.lang.Long" resultMap="sampleMap">-->
        <!--SELECT id, create_user_id, create_time, update_user_id, update_time, version FROM tb_sample-->
    <!--</select>-->
</mapper>